*{
    text-decoration: none;
    margin: 0px;
    font-size: 24px;
    color: black;
}
#Orange,#Yellow,#Blue,#Green{
    height: 100vh;
    width: 100%;
    filter: brightness(50%);
}
section div:first-child{
    background-color: rgb(0, 128, 255);
}
section div:nth-child(2){
    background-color: rgb(106, 255, 0);
}
section div:nth-child(3){
    background-color: rgb(234, 255, 0);
}
section div:last-child{
    background-color: rgba(255, 77, 0, 0.789);
}
header{
    position: fixed;
    width: 100%;
    background-color: azure;
    z-index: 2;
}
header nav{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
}